<div class="container portfolio-container">
  <div class ="row">
    <div class = "com-md-7">
      <%= image_tag @portfolio_item.main_image, width: '100%' %>
    </div>
    
    <div class= "com-m-1"><font color= "white">akdjsf;lsdkfjsalas;l</font></div>
    
    <div class = "com-md-4">
      <h1><%= @portfolio_item.title %></h1>
      
      <hr>
      
      <em><%= @portfolio_item.subtitle %></em>
      
      <p><%= @portfolio_item.body %></p>
      
      <hr>
      
      <h3>Technologies Used:</h3>
      
      <% @portfolio_item.technologies.each do |t| %>
      <p><%= t.name %></p>
      <% end %>
    </div>
  </div>
</div>